<p id="notice"><%= notice %></p>

<h1>Listing Testis</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testis.each do |testis| %>
      <tr>
        <td><%= testis.name %></td>
        <td><%= testis.city %></td>
        <td><%= testis.age %></td>
        <td><%= link_to 'Show', testis %></td>
        <td><%= link_to 'Edit', edit_testis_path(testis) %></td>
        <td><%= link_to 'Destroy', testis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testi', new_testis_path %>
