<p id="notice"><%= notice %></p>

<h1>Listing Agents</h1>

<table>
  <thead>
    <tr>
      <th>Agent</th>
      <th>Name</th>
      <th>Team</th>
      <th>Status</th>
      <th>Time in status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.agent_id %></td>
        <td><%= agent.name %></td>
        <td><%= agent.team %></td>
        <td><%= agent.status %></td>
        <td><%= agent.time_in_status %></td>
        <td><%= link_to 'Show', agent %></td>
        <td><%= link_to 'Edit', edit_agent_path(agent) %></td>
        <td><%= link_to 'Destroy', agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agent', new_agent_path %>
