<p id="notice"><%= notice %></p>

<p>
  <strong>Agent:</strong>
  <%= @agent.agent_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @agent.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @agent.team %>
</p>

<p>
  <strong>Status:</strong>
  <%= @agent.status %>
</p>

<p>
  <strong>Time in status:</strong>
  <%= @agent.time_in_status %>
</p>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
